<div class="main-content">
  <article>

    <div class="portfolio-title">
      <h1>Connect with me</h1>
    </div>
      <div class="center-content blog-page social-page">
        <ul class="social-links">
          <li>
            <div class="social-logo">
              <%= link_to "https://github.com/GaleForceVR", target: "blank" do %>
                <%= image_tag "github.png" %>
                <p class="teal">github.com/<span>GaleForceVR</span></p>
              <% end %> 
            </div>
          </li>
          <li>
            <div class="social-logo">
              <%= link_to "https://www.linkedin.com/in/galeforcevr/", target: "blank" do %>
                <%= image_tag "linkedin.png" %>
                <p class="teal">linkedin.com/in/<span>GaleForceVR</span></p>
              <% end %> 
            </div>
          </li>
          <li>
            <div class="social-logo">
              <%= link_to "https://twitter.com/GaleForceVR", target: "blank" do %>
                <%= image_tag "twitter.png" %>
                <p class="teal">twitter.com/<span>GaleForceVR</span></p>
              <% end %> 
            </div>
          </li>
        </ul>
      </div>
      <div class="right-gutter">
        
      </div>
    

  </article>
</div>
<%= render partial: "layouts/bio" %>
<div class="clear-footer"></div>