<div class="home-transparent">
  <div class="home-container">
    <div class="home-bio">
      <%= image_tag('gvr-profile-photo.jpg', class: "profile-photo") %>
    </div>
    <h3 class="greeting">Hi, I'm Gale.</h3>
    <p>I was once assigned the task of memorizing a poem of my choice and I picked "The Road Less Traveled" by Robert Frost.</p>
    <blockquote>Two roads diverged in a wood, and I —
        I took the one less traveled by,
        And that has made all the difference.<p class="attribution">Robert Frost</p></blockquote>
    <p>It was my favorite poem. However, I never realized how apropos it was to my life until many years later. I definitely took the path that few dared tread.</p>
    <p>That choice has taken me down a road of uncertainty, risk, reward, trials, tribulations and even failure at times.</p>
    <p>Today, one thing is for certain.I wouldn't change it for the world!</p>
    <p>My experiences on that road have forever altered my destiny. I stand before you now ready to conquer whatever life throws my way.</p>
  </div>
</div>

<p>If you are looking for someone who is dedicated, loves web development, can learn quickly, and isn't afraid to ask questions, then you've found the right guy. I can't wait to take my game to the next level, and I plan on taking my new company there with me.</p>

<!-- Post -->

<div class="home-solid">
  <div class="home-container">
    <div class="home-left">
      <h2 class="home-headline">Things I've Built</h2>
      <p>From the time I was a kid, I've always been a builder. From model rockets and model railroads to remote control cars and planes.</p>
      <p>As an adult, I built a sign out of wood that stood 12 feet tall in the back of a truck, and I designed my own logos and print materials for some of my business ventures.</p>
      <p>Of course, I built websites as well. First for Madisen's Match, and then the Kiwanis Club. I also built some sites for potential businesses. A fantasy football blog site and then basketball themed site called Dunk City, FL.</p>
      <p>Most recently, I dreamed up, built, and ran an entire e-commerce t-shirt printing company by myself.</p>
      <p>Ultimately, my passion for visual design and craftsmanship led me to Dev Bootcamp and a chance to pursue my perfect career.</p>
    </div>
    <div class="home-right">
      
    </div>

    <div class="clear"></div>
  </div>
</div>

<% f.fields_for :category_assignment do |cat| %>
  <%= cat.text_field :category_id, placeholder: "Category" %>
<% end %>

<!-- OTHER THINGS I'VE BUILT -->

<h1 class="home-headline">Other Things I've Built</h1>
<p>From the time I was a kid, I've always been a builder. From model rockets and model railroads to remote control cars and planes.</p>
<p>I've continued to build things throughout my life and I often find creative solutions to problems. As an entrepreneur, I've always had to find ways to do more with less money.</p>
<p>When I needed to raise sales, I built a sign out of wood that stood 12 feet tall in the back of a truck, and I designed my own logos and print materials for some of my business ventures.</p>
<p>As a Graphic Designer, I always pushed the envelope of my current skill level. I once wrapped a boat for a marketing campaign despite never having done so before.</p>
<p>Wrap-A-Tee.com was an attempt to take advantage of the relatively new process of Direct to Garment printing. When I found that I was wasting t-shirts and ink because there was no system to align the shirts properly, I designed and built my own shirt alignment table.</p>
<p>I'm always looking for new ways to do things. I am always learning and always open to try new approaches.</p>

<!-- BIO LINKS -->

<div class="links">
  <ul>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/blog">Blog</a>
      <ul>
        <li><a href="/post/1">Post 1</a></li>
        <li><a href="/post/2">Post 2</a></li>
        <li><a href="/post/3">Post 3</a></li>
        <li><a href="/post/4">Post 4</a></li>
        <li><a href="/post/5">Post 5</a></li>
      </ul>
    </li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/social_media">Social Media</a></li>
  </ul>
</div>

<!-- NAV -->

<li><%= link_to "http://i.imgur.com/6GqtYwp.png" do %>
      RESUME
      <% end %>
</li>

<!-- MAIN QUOTE -->

<div class="main-quote"><p>I'm a natural problem solver and a craftsman. I love to build web apps that are meaningful and beautiful. My passion for combining great programming with stunning design brought me to Dev Bootcamp. I'm now ready to create the future I have always dreamed of.</p></div>

<div class="main-quote"><p>I'm a problem solver and a craftsman. I love to build things and especially things on the web. I also love to learn. I'm looking for an opportunity to grow with a company. I think we should talk.</p></div>

<!-- HOME PAGE -->

<div class="home-solid">
  <div class="home-container">
    <div class="home-left">
      <h1 class="home-headline">Things I've Built on the Web</h1>
      <p>I built my first two websites, MadisensMatch.com, and  Kiwanis5krun.com in 2011 with Adobe Dreamweaver.</p>
      <p>I immediately started to learn HTML5, CSS3, and Javascript. I often worked 60 hours per week at my day job and spent another 20+ hours learning to code on evenings and weekends.</p>
      <p>Along the way, I also built a Joomla blog site for Evolve Fantasy Sports and  Wordpress child theme site for my own DunkCityFL.com.</p>
      <p>Last year, I dreamed up, built, and ran an entire e-commerce t-shirt printing company called Wrap-A-Tee.com (Calusa Digi, Inc.) by myself from the ground up.</p>
      <p>My e-commerce adventure ultimately reinforced my love for visual design, web design and programming. That, in turn, led me to Dev Bootcamp and a chance to pursue my true passion.</p>
      <p>I've worked on a number of projects during and since including LightningVote.com, MISSINGlabel and my new portfolio/blog site. I'm also starting a new project called Rundeck.</p>
    </div>
    <div class="home-right">
      <%= image_tag('web-projects-alt.png', class: "home-page-image") %>
    </div>

    <div class="clear">
      <div class="center-div">
        <%= link_to web_portfolio_page_path, class: "home-page-button" do %>
          <%= image_tag('learn-more-button.png', class: "home-page-buttons")%>
        <% end %> 
      </div>
    </div>
  </div>
</div>
<div class="home-transparent">
  <div class="home-container">
    <div class="home-right">
      <h1 class="home-headline">Visual Design and Photography</h1>
      <p>I've been a photographer since I was three years old and I've always had an eye for images. It's not surprising that I eventually found my way to Graphic Design.</p>
      <p>About ten years ago, I realized that as computers and networks gained speed, visual communication was going to become more and more important over time. At the time, I had little experience in either Graphic Design or Web Design.</p>
      <p>The decision to change careers in my mid 30's was not an easy one, but I made the leap and took a pay cut to pursue a career in Graphic Design.</p>
      <p>I worked feaverishly to learn everything I could about design and the tools I used such as Adobe Photoshop and Illustrator. I also attended every Photoshop/Photography conference I could make it to, and often had to pay my own way.</p>
      <p>Eventually, I added Dreamweaver and then HTML5 and CSS3 to my list of learning goals. My goal now is to combine everything that I know about visual design and communication with everything that I've learned about Web Development.</p>
      <p>I'm always looking for new ways to do things. I am always learning and always open to try new approaches.</p>
      
    </div>
    <div class="home-left">
      <%= image_tag('web-projects.png', class: "home-page-image") %>
    </div>
    <div class="clear">
      <div class="center-div">
        <%= link_to design_portfolio_page_path, class: "home-page-button" do %>
          <%= image_tag('learn-more-button.png', class: "home-page-buttons")%>
        <% end %> 
      </div>
    </div>
  </div>
</div>

<!-- MISSING label -->

<!-- MISSING label was the 8 day long final project for Dev Bootcamp. I worked on this with a team of 3 other Dev Bootcamp students. It is a native iOS app created with Cordova (Phone Gap). I was largely responsible for the front-end and visual design.

The front-end is created soley with HTML5, CSS3 and Javascript. Michael Karazouski and I paired to create the views and controllers. We also integrated the scanner software. The app allows a user to scan the cutting edge GS1 databar multidirectional barcodes found on produce in supermarkets. Upon scanning, the app displays nutrional information as well as a plethora of additional information including tracking the produce all the way back to the farm. In addition to writing much of the front-end code, I also designed the logo and created the visual look and feel of the app. Michael and I also worked on the integration with Cordova. I was lucky to have a great team to work on this project with. However, many of my questions, ideas, and thoughts were integral in shaping the product into the successful app it became.

The project recieved many accolades upon presentation during the Dev Bootcamp project showcase. Although we are all conducting a job search currently, we intend to continue to develop the app and may very well publish it to the app store upon release of the GS1 database to the public. -->

<!-- SOCIAL BUTTON -->

<div class="social-button"><a href="/connect"><%= image_tag('social-button.png') %></a></div> 

<!-- HOME PAGE 1/27 -->

<h1 class="home-headline">Things I've Built on the Web</h1>
<p>I built my first two websites, MadisensMatch.com, and  Kiwanis5krun.com in 2011 with Adobe Dreamweaver.</p>
<p>I quickly graduated to learning HTML5, CSS3, and Javascript. While learning, I also built a Joomla blog site for Evolve Fantasy Sports and  Wordpress child theme site for my own DunkCityFL.com.</p>
<p>Last year, I dreamed up, built, and ran an entire e-commerce t-shirt printing company called Wrap-A-Tee.com (Calusa Digi, Inc.) by myself from the ground up. My e-commerce adventure ultimately reinforced my love for visual design, web design and programming. That, in turn, led me to Dev Bootcamp and a chance to pursue my true passion.</p>
<p>I've worked on a number of projects during and since including LightningVote.com, MISSINGlabel and my new portfolio/blog site. I'm also starting a new project called Rundeck.</p>

<h1 class="home-headline">Visual Design and Photography</h1>
<p>I've been a photographer since I was three years old and I've always had an eye for images. It's not surprising that I eventually found my way to Graphic Design. My love of computers and the web ultimately led to Web Development.</p>
<p>I've worked hard over the years to learn everything I could about visual communication, web design, programming, business and now web development. I think one of my greatest assets to any organization is the fact that I have a full understanding of both the creative process as well as the business logic on the back-end.</p>
<p>I'm always looking for new ways to do things. I am always learning and always open to try new approaches.</p>
