<div class="home">
  <div class="home-container">
    <div class="home-bio">
      <%= image_tag('gvr-profile-photo.jpg', class: "profile-photo") %>
    </div>
    <h1 class="greeting">Hi, I'm Gale.</h1>
    <div class="main-quote"><p>I'm a problem solver and a craftsman. I love to build things and especially things on the web. I also love to learn. I'm looking for an opportunity to grow with a company. I think we should talk.</p></div>
  </div>
</div>
<div class="home-solid">
  <div class="home-container">
    <div class="home-left">
      <h1 class="home-headline">Things I've Built on the Web</h1>
      <p>I built my first two websites, MadisensMatch.com, and  Kiwanis5krun.com in 2011 with Adobe Dreamweaver.</p>
      <p>I immediately started to learn HTML5, CSS3, and Javascript. I often worked 60 hours per week at my day job and spent another 20+ hours learning to code on evenings and weekends.</p>
      <p>Along the way, I also built a Joomla blog site for Evolve Fantasy Sports and  Wordpress child theme site for my own DunkCityFL.com.</p>
      <p>Last year, I dreamed up, built, and ran an entire e-commerce t-shirt printing company called Wrap-A-Tee.com (Calusa Digi, Inc.) by myself from the ground up.</p>
      <p>My e-commerce adventure ultimately reinforced my love for visual design, web design and programming. That, in turn, led me to Dev Bootcamp and a chance to pursue my true passion.</p>
      <p>I've worked on a number of projects during and since including LightningVote.com, MISSINGlabel and my new portfolio/blog site. I'm also starting a new project called Rundeck.</p>
    </div>
    <div class="home-right">
      <%= image_tag('web-projects-alt.png', class: "home-page-image") %>
    </div>

    <div class="clear">
      <div class="center-div">
        <%= link_to web_portfolio_page_path, class: "home-page-button" do %>
          <%= image_tag('learn-more-button.png', class: "home-page-buttons")%>
        <% end %> 
      </div>
    </div>
  </div>
</div>
<div class="home-transparent">
  <div class="home-container">
    <div class="home-right">
      <h1 class="home-headline">Visual Design and Photography</h1>
      <p>I've been a photographer since I was three years old and I've always had an eye for images. It's not surprising that I eventually found my way to Graphic Design.</p>
      <p>About ten years ago, I realized that as computers and networks gained speed, visual communication was going to become more and more important over time. At the time, I had little experience in either Graphic Design or Web Design.</p>
      <p>The decision to change careers in my mid 30's was not an easy one, but I made the leap and took a pay cut to pursue a career in Graphic Design.</p>
      <p>I worked feaverishly to learn everything I could about design and the tools I used such as Adobe Photoshop and Illustrator. I also attended every Photoshop/Photography conference I could make it to, and often had to pay my own way.</p>
      <p>Eventually, I added Dreamweaver and then HTML5 and CSS3 to my list of learning goals. My goal now is to combine everything that I know about visual design and communication with everything that I've learned about Web Development.</p>
      <p>I'm always looking for new ways to do things. I am always learning and always open to try new approaches.</p>
      
    </div>
    <div class="home-left">
      <%= image_tag('web-projects.png', class: "home-page-image") %>
    </div>
    <div class="clear">
      <div class="center-div">
        <%= link_to design_portfolio_page_path, class: "home-page-button" do %>
          <%= image_tag('learn-more-button.png', class: "home-page-buttons")%>
        <% end %> 
      </div>
    </div>
  </div>
</div>
<div class="home-solid">
  <div class="home-container">
    <div class="home-left">
      <h1 class="home-headline">Blog Post</h1>
      <%= link_to post_path(@post.id) do %>
          <h3><%= @post.title %></h3>
        <% end %> 
        <%= sanitize(truncate(@post.content, escape: false, length: 1200, separator: '</p>') { link_to "read more", post_path(@post.id) }) %>
    </div>
    <div class="home-right">
      <%= image_tag @post.image.url(:medium).to_s, class: "feature-blog-image" %>
      <div class="center-div">
        <%= link_to post_path(@post.id), class: "home-page-button" do %>
          <%= image_tag('read-blog-button.png', class: "home-page-buttons bottom-adjust")%>
        <% end %> 
      </div>
    </div>

    <div class="clear"></div>
    
  </div>
</div>
<div class="footer-spacer"></div>