<h2>Hello World</h2>
<p>The time is now: <%= Time.now %></p>
<hr>
<p style="color: blue;"><%= current_user.email %></p>
<p style="color: blue;"><%= current_user.role %></p>
<% if current_user.role == "admin" %>
  <h3>This is admin content</h3>
<% end %>
<% if user_session %>
  <h4 style="color: red;">This is user content for user: <%= @user.email %></h4>
<% end %>
<h2><%= @posts.first.title if @posts.first %></h2>
<p><%= @posts.first.content if @posts.first %></p>
<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
