<div class="home">
  <div class="home-container">
    <div class="home-bio">
      <%= image_tag('gvr-profile-photo.jpg', class: "profile-photo") %>
    </div>
    <h1 class="greeting">Hi, I'm Gale.</h1>
    <div class="main-quote"><p>I'm a natural problem solver and a craftsman. My passion for combining great programming with stunning design brought me to Dev Bootcamp. I'm now seeking an opportunity to continue down my path of discovery and learning.</p></div>
  </div>
</div>
<div class="home-solid">
  <div class="home-container">
    <div class="home-left">
      <h1 class="home-headline">Things I've Built on the Web</h1>
      <p>I built my first two websites, MadisensMatch.com, and  Kiwanis5krun.com in 2011 with Adobe Dreamweaver.</p>
      <p>I quickly graduated to learning HTML5, CSS3, and Javascript. While learning, I also built a Joomla blog site for Evolve Fantasy Sports and  Wordpress child theme site for my own DunkCityFL.com.</p>
      <p>Last year, I dreamed up, built, and ran an entire e-commerce t-shirt printing company called Wrap-A-Tee.com (Calusa Digi, Inc.) by myself from the ground up. My e-commerce adventure ultimately reinforced my love for visual design, web design and programming. That, in turn, led me to Dev Bootcamp and a chance to pursue my true passion.</p>
      <p>I've worked on a number of projects during and since including LightningVote.com, MISSINGlabel and my new portfolio/blog site. I'm also starting a new project called Rundeck.</p>
    </div>
    <div class="home-right">
      <%= image_tag('web-projects-alt.png', class: "home-page-image") %>
    </div>

    <div class="clear">
      <div class="center-div">
        <%= link_to web_portfolio_page_path, class: "home-page-button" do %>
          <%= image_tag('learn-more-button.png', class: "home-page-buttons")%>
        <% end %> 
      </div>
    </div>
  </div>
</div>
<div class="home-transparent">
  <div class="home-container">
    <div class="home-right">
      <h1 class="home-headline">Visual Design and Photography</h1>
      <p>I've been a photographer since I was three years old and I've always had an eye for images. It's not surprising that I eventually found my way to Graphic Design. My love of computers and the web ultimately led to Web Development.</p>
      <p>I've worked hard over the years to learn everything I could about visual communication, web design, programming, business and now web development. I think one of my greatest assets to any organization is the fact that I have a full understanding of both the creative process as well as the business logic on the back-end.</p>
      <p>I'm always looking for new ways to do things. I am always learning and always open to try new approaches.</p>
      
    </div>
    <div class="home-left">
      <%= image_tag('design-and-photography.png', class: "home-page-image") %>
    </div>
    <div class="clear">
      <div class="center-div">
        <%= link_to design_portfolio_page_path, class: "home-page-button" do %>
          <%= image_tag('learn-more-button.png', class: "home-page-buttons")%>
        <% end %> 
      </div>
    </div>
  </div>
</div>
<div class="home-solid">
  <div class="home-container">
    <div class="home-left">
      <h1 class="home-headline">Blog Post</h1>
      <%= link_to post_path(@post.id) do %>
          <h3><%= @post.title %></h3>
        <% end %> 
        <%= sanitize(truncate(@post.content, escape: false, length: 1200, separator: '</p>') { link_to "read more", post_path(@post.id) }) %>
    </div>
    <div class="home-right">
      <%= image_tag @post.image.url(:medium).to_s, class: "feature-blog-image" %>
      <div class="center-div">
        <%= link_to post_path(@post.id), class: "home-page-button" do %>
          <%= image_tag('read-blog-button.png', class: "home-page-buttons bottom-adjust")%>
        <% end %> 
      </div>
    </div>

    <div class="clear"></div>
    
  </div>
</div>
<div class="left-gutter home-page-fix">
  <div class="bio">
    <div class="profile-photo-wrapper">
      <%= image_tag('gvr-profile-photo.jpg', class: "profile-photo") %>
    </div>
    <div class="contact-button-wrapper">
      <div class="contact-button"><a href="mailto:galeforcevr@gmail.com:?subject=Gale's Portfolio site&body=Hi Gale, I was just taking a look at your website..."><%= image_tag('contact-button.png') %></a></div>
    </div>
    <h2 class="center-text my-name"><a href="mailto:galeforcevr@gmail.com:?subject=Gale's Portfolio site&body=Hi Gale, I was just taking a look at your website...">Gale VanRossem</a></h2>
  </div>
</div>
<div class="footer-spacer"></div>