<div class="left-gutter">
  <div class="bio">
    <%= image_tag('gvr-profile-photo.jpg', class: "profile-photo") %>
    <div class="contact-button"><a href="mailto:galeforcevr@gmail.com:?subject=Gale's Portfolio site&body=Hi Gale, I was just taking a look at your website..."><%= image_tag('contact-button.png') %></a></div>
    <p>I'm an Entreprenuer and Graphic Designer turned Web Developer Craftsman. If you think that form and function are both equally important, then I think we should talk.</p>
  </div>
  <div class="links">
    <ul>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Blog</a>
        <ul>
          <li><a href="/post/1">Post 1</a></li>
          <li><a href="/post/2">Post 2</a></li>
          <li><a href="/post/3">Post 3</a></li>
          <li><a href="/post/4">Post 4</a></li>
          <li><a href="/post/5">Post 5</a></li>
        </ul>
      </li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/social_media">Social Media</a></li>
    </ul>
  </div>
</div>

<div class="main-content">
  <article>

    <div class="headline">
      <h1>Create a New Post</h1>
      <p class="date-line"><%= Time.now.strftime("%B %d, %Y") %></p>
    </div>

    <div class="center-content">
      <div class="feature-image-spacer"></div>
      <div class="feature-image">
        <%= image_tag('nik-wallenda.jpg') %>
        <p class="feature-image-caption">This is a really cool shot of Nik Wallenda and it's a great feature image example.</p>
      </div>
      <% if current_user && current_user.role == "admin" %>
        <h3>This is admin content</h3>
        <%= render partial: "post_form", locals: {post: Post.new, button_text: "Create Post"} %>
      <% else %>
        <h3>You are not authorized for this action</h3>
        <p>Please login if you are a site administrator</p>
      <% end %> 
    </div>

    <div class="right-gutter">
      
    </div>

  </article>
</div>