<div class="main-content">
  <article>

    <div class="headline">
      <h1><%= @post.title %></h1>
      <p class="date-line"><%= Time.now.strftime("%B %d, %Y") %></p>
    </div>

    <div class="center-content blog-article">
      <div class="feature-image-spacer"></div>
      <div class="feature-image">
        <%= image_tag @post.image.to_s %>
        <p class="feature-image-caption"><%= @post.feature_caption %></p>
      </div>  
      <p><%= @post.content.html_safe %></p>
    </div>

    <div class="right-gutter">
      
    </div>

  </article>
</div>
<%= render partial: "layouts/bio" %>
<div class="clear-footer"></div>

