<div class="main-content">
  <article>

    <div class="portfolio-title">
      <h1>Blog</h1>
    </div>
    <% if @posts %>
    <% @posts.each do |post| %>
      <div class="center-content blog-page">
        <div class="blog-page-image-wrapper">
          <div class="blog-page-image">
            <%= image_tag post.image.url(:medium).to_s %>
          </div>
        </div>
        <%= link_to post_path(post.id) do %>
          <h3><%= post.title %></h3>
        <% end %> 
        <%= sanitize(truncate(post.content, escape: false, length: 700, separator: '</p>') { link_to "read more", post_path(post.id) }) %>
      </div>

      <div class="right-gutter">
        
      </div>
    <% end %>
    <% end %>

  </article>
</div>
<%= render partial: "layouts/bio" %>
<div class="clear-footer"></div>
