<!DOCTYPE html>
<html>
<head>
  <title>Galevanrossem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700,300,400|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900,400italic' rel='stylesheet' type='text/css'>
  <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
  <script>
tinymce.init({
    selector: "textarea#elm1",
    theme: "modern",
    // width: 300,
    // height: 300,
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
         "save table contextmenu directionality emoticons template paste textcolor"
   ],
   content_css: "css/content.css",
   toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons", 
   style_formats: [
        {title: 'Bold text', inline: 'b'},
        {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
        {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
        {title: 'Example 1', inline: 'span', classes: 'example1'},
        {title: 'Example 2', inline: 'span', classes: 'example2'},
        {title: 'Table styles'},
        {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
    ]
 }); 
</script>
  
</head>
<body>
  <div class="wrapper">

    <header>
      <div class="nav-highlight"></div>
      <div class="nav-highlight-rounder"></div>
      <div class="nav-shadow"></div>
      <div class="logo"><a href="/"><%= image_tag('gvr-logo.png') %></a></div>
      <nav>
        <ul>
          <div class="nav-links">
            <li>PROJECTS</li>
            <li>BLOG</li>
            <li>RESUME</li>
          </div>
          <div class="login">
            <% if current_user %>
              <li><%= link_to "LOGOUT", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "LOGIN", new_user_session_path, :method => :get %></li>
              <li>SIGNUP</li>
            <% end %>  
          </div> 
        </ul>
      </nav>
    </header>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

    <footer>
      <p class="copyright"><a href="/">&#169; <%= Time.now.strftime("%Y") %> Gale VanRossem</a></p>
    </footer>

  </div>

</body>
</html>
