<!DOCTYPE html>
<html>
<head>
  <title>Galevanrossem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700,300,400|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrapper">

    <header>
      <div class="nav-highlight"></div>
      <div class="nav-highlight-rounder"></div>
      <div class="nav-shadow"></div>
      <div class="logo"><a href="/"><%= image_tag('gvr-logo.png') %></a></div>
      <nav>
        <ul>
          <div class="nav-links">
            <li>PROJECTS</li>
            <li>BLOG</li>
            <li>RESUME</li>
          </div>
          <div class="login">
            <% if current_user %>
              <li><%= link_to "LOGOUT", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "LOGIN", new_user_session_path, :method => :get %></li>
              <li>SIGNUP</li>
            <% end %>  
          </div> 
        </ul>
      </nav>
    </header>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

    <footer>
      <p class="copyright"><a href="/">&#169; <%= Time.now.strftime("%Y") %> Gale VanRossem</a></p>
    </footer>

  </div>

</body>
</html>
